.mat-toolbar-row {
  background-color: #ef1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-center {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-hint{
  color: red;
}