body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
}

mat-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  font-size: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.column {
  flex: 1;
  padding: 0 10px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container {
  padding: 20px;
  text-align: center;
}

.title {
  color: #333;
}

.button {
  background-color: rgb(196, 36, 4);
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(239, 83, 52);
}
